/* @fontface decloration */

@font-face {
    font-family: 'Din';
    src: url('din/din-light.woff') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('din/din-medium.woff') format('woff');

    font-weight: normal;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('din/din-bold.woff') format('woff');

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('din/din-medium-italic.woff') format('woff');

    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Din';
    src: url('din/din-bold-italic.woff') format('woff');

    font-weight: 700;
    font-style: italic;
}